$black: #242323;
$white: #fff;
$radius: 1rem;
$light-gray: #F4F5F6;
$gray: #55556D;
$border-color: #DEDEE2;
$red: #EE0202;
$orange: #F8944B;
$dark-orange: #C25506;
$green: #85E623;
$bc: #FAFAFD;
$shadow: 0px 5px 20px #2c293325;

$transition: .3s all ease;



@mixin content {
    font-size: 2.2rem;

    @media only screen and (max-width: 991px) {
        font-size: 1.6rem;
    }
}

@mixin loader {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    animation: Skeleton-loading 1s linear infinite alternate;

    @keyframes Skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }

        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }
}