@import '../assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    // user-select: none;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: .2rem;
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background-color: $black;
    border-radius: 1rem;
}

input {
    outline: none;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

img {
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

button {
    strong {
        font-size: .1px;
    }
}